.topnav {
  overflow: hidden;
  background-color: rgba(250,256, 240, 0.5);
  border: 1px powderblue solid;
}

.topnav a {
  float: left;
  color: navy;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: khaki;
  color: black;
}

.topnav a.active {
  background-color: powderblue;
  color: navy;
  font-weight: bold:
}
