/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  overflow: hidden;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

header {
  background: #6cf;
  text-align: center;

  padding: 0px;
  margin: 0px;
  border: 0px;
  float: left;
  padding: 4px 0;
  min-width: 100%;
}

header h1 {
  font-size: 16pt;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

header div {
  font-size: 10pt;
  text-align: right;
  margin: 0px;
  padding: 0px;
  float: right;
  border: 1px blue;
  margin-right: 32px;
  font-style: italic;

}

.modal-overlay {
  z-index: 52;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
}

.modal {
  display: block;
  position: fixed;
  z-index: 51;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.modal.closed,
.modal-overlay.closed {
  display: none;
}

.modal-content {
  z-index: 55;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: auto;
  max-width: 700px;
  position: relative;
  border-radius: 2px;
/*  overflow: auto;*/
}

.modal-content div {
  padding: 20px;
  margin-top: 16px;
}

#keybind-content {
  z-index: 60;
  display: flex;
  flex-flow: row wrap;
}

#keybind-content div {
  background-color: #c0c0c0;
}

.key-section input {
  width: 100px;
  max-width: 100%;
  display: block;
  height: 2.5em;
}

.key-section label {
  width: 100px;
  max-width: 100%;
  display: block;
  text-align: center;
  vertical-align: center;
  height: 3.5em;
  padding-bottom: 0.5em;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: #ddd;
  border-radius: 4px;
  z-index: 56;
  position: absolute;
  right: 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/* nice-container is collapsible */
.nice-container {
  padding: 4px;
  margin: 4px;
  margin-top: 16px;
  border: 1px dotted teal;
  background-color: rgba(255, 248, 220, 0.8);
  border-radius: 4px;
  overflow: hidden;
}

.nice-container :focus {
  border: skyblue 1px solid;
  font-style: italic;
}

/* all h4 under nice containers */
.nice-container h4 {
  color: teal;
  text-align: center;
  margin: 4px 0px 4px;
  padding-bottom: 4px;
  border-bottom: 1px teal dotted;
}

/* direct descendant h4 under nice container */
.nice-container > h4 {
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.nice-container > h4 > a {
  color: teal;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

.nice-container ul li {
  font-family: monospace;
}

#content-container {
  width: 100%;
  padding: 8px;
  border: gainsboro 1px dashed;
/*  overflow: hidden;*/
  display: flow-root;
  order: 2;
  height: 100%;
}

#content-container > * {
  padding-bottom: 16px;
}

#side-container-left {
  border: gainsboro 1px dashed;
  order: 1;
}

#side-container-right {
  border: gainsboro 1px dashed;
  order: 3;
}

#main-container {
  max-width: 95%;
  min-height: 400px;
  height: auto;
  margin: auto;
  padding: 10px;
/*  overflow: hidden;*/
  margin-bottom: 60px;
  clear: both;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 100%;
  align-self: flex-start;
}


#editor-main {
  height: auto;
}

#editor-container {
  /*    width: 75%; */
  height: auto;
  border: skyblue 1px dashed; 
  background: powderblue;
  /*    float: left; */
}

#extra-info-container {
  padding: 6px 24px 20px;
}

#extra-info-container h2 {
  font-weight: bolder;
}

#extra-info-container h2:before {
  /* t.d. "Ræðumaður: " */
  content: "";
}

#extra-info-container h3:before {
  /* t.d. "tegund ræðu: " */
  content: "";
}

#sound-player-container {
  display: none;
  margin: 0px 8px;
  flex: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#sound-player-container audio {
  width: 100%;
  border-radius: 4px;
}

#sound-player-icon {
  font-size: 2em;
  margin: 0px 8px;
  cursor: pointer;
}

#sound-player-real-timer {
  font-family: monospace;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#symbol-inserter-container {
  margin: 0px;
  padding: 0px;
  /*  padding-bottom: 0px;*/
}

#validation-status {
  max-width: 160px;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  margin: 8px;
  background: lightcyan;
}

#validation-error {
  display: none;
  border: crimson 2px dotted;
  color: crimson;
  padding-top: 16px;
}

#validation-error>h3 {
  margin-top: 0px;
  padding-top: 0px;
}

#validation-message {
  color: black;
  font-family: monospace;
}

#description {
  border: orange 1px dashed;
  margin: 20px;
  padding: 20px;
}

#editor-mode {
  font-size: 24pt;
  padding: 8px;
  margin: 12px;
  background-color: lightyellow;
  border: 2px dashed moccasin;
  border-radius: 10px;
  box-shadow: 0 0 0 -4px lightyellow, -2px -1px -6px -4px rgba(10, 10, 0, 0.5);
  text-transform: capitalize;
  text-align: center;
}

footer::before{
  background: red;
  clear:both;
  height: 60px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #6cf;
  text-align: center;
}

.text-content {
  box-sizing: border-box;
  padding: 30px;
}

.CodeMirror {
  height: 75vh;
/*  overflow-y: scroll;*/
}

ul.horizontal-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  border: 1px solid #555;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.horizontal-links li {
  float: left;
  border-right: 1px solid #555;

  display: block;
  /*	padding: 8px 16px;*/
  background-color: #008cba;
  text-align: center;
  text-decoration: none;
  color: white;
}

.horizontal-links li:last-child {
  border-right: none;
}

.horizontal-links li a {
  display: block;
  padding: 8px 16px;
  background-color: #008cba;
  text-align: center;
  text-decoration: none;
  color: white;
}

.dropbtn {
  display: inline-block;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #f9f9f9;
  background-color: navy;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
  background-color: #f1f1f1;
}

.separator {
  margin: 0px;
  padding: 0px;
  border-top: 1px teal dotted;
}

.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content {
  display: block;
  border: 1px black dashed;
}

.dropbtn:focus + .dropdown-content {
  display: block;
  border: 1px black dashed;
}

.dropdown-content a:focus {
  display: block;
}

#insert-element-container {
  width: 200px;
}

#tree-explorer-container {
  width: 170px;
}

#tree-explorer-links li {
  text-align: left;
}

#attribute-inspector-container {
  max-width: 200px;
}

#attribute-inspector-div h4:before {
  content: "skema:";
}

#attribute-inspector-div h4 {
  font-family: monospace;
}

#attribute-inspector-div p {
  color: purple;
  text-align: center;
  border: 1px dotted white;
  border-radius: 3px;
}

#attribute-inspector-table {
  width: 100%;
  font-family: monospace;
  border-collapse: collapse;
  border-spacing: 0 1em;
}

#attribute-inspector-table tr > td + td{
  color: purple;
  display: block;
  padding-bottom: 8px;
}

#attribute-inspector-table tr {
  background-color: rgba(250, 256, 240, 0.5);
  border-top: 1px powderblue dotted;
}

#attribute-inspector-table tr:first-child  {
  border-top: 0px;
}

#attribute-inspector-table input {
  font-family: monospace;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.collapsible-active:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
  margin-right: 8px;
}

.collapsible-inactive:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
  margin-right: 8px;
}

ul.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  border: 1px solid #555;
  border-radius: 4px;
}

.links li {
  color: goldenrod;
  background-color: khaki;
  text-align: center;
  border-bottom: 1px solid #555;

  display: block;
  background-color: #008cba;
  /*	padding: 8px 16px;*/
  text-decoration: none;
  color: white;
}

.links li:last-child {
  border-bottom: none;
}

.links li a {
  display: block;
  background-color: #008cba;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
}

.button {
  background-color: #008cba;
  border-radius: 4px;
  padding: 6px;
  margin: 4px;
  color: white;
  font-family: monospace;
  border: 1px solid #555;
  vertical-align: center;
}

.links li a:hover,
.links li a:focus,
.horizontal-links li a:hover,
.horizontal-links li a:focus,
.button:hover,
.button:focus {
  background-color: #555;
  color: white;
  cursor: pointer;
}

.insert-symbol {
  border: 1px solid darkgray;
  border-radius: 2px;
  padding: 4px;
  margin: 4px;
  text-align: center;
  min-width: 20px;
  background: lightgrey;
  color: black;
}

.marked-tag,
.marked-tag-no-hide {
  display: inline;
  background-color: khaki;
}

.marked-tag-hidden {
  display: none;
  opacity: 0.1;
}
